# VS Code
.vscode/

#CLion
.idea

# ninja
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
*.log
*.ninja

# generated data
_Bin/
_Build/
_Shaders/
_Data/
pso_cache.bin

# can be a symbolic link
_Data
